.cart{
    position: relative;
    margin-top: 150px;
    position: fixed;
    border: 1px solid #ccc;
    padding: 10px;
}

.btn-div{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


.clear-btn{
    background-color: rgb(235, 61, 61);
    color: white;
    border: none;
    padding: 10px 100px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
.order-btn{
    background-color: rgb(66, 124, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 100px;
    border-radius: 5px;
    
}

.ordered-meals-div{
    min-height: 100px;
}